USE [master]
GO

SET NOCOUNT ON
CREATE DATABASE [Project15]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Project15', FILENAME =  N'$(W)\DatabaseFile\Project15.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Project15_log', FILENAME = N'$(W)\DatabaseLog\Project15._log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project15].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project15]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
accountNo int PRIMARY KEY NOT NULL IDENTITY(1,1),
branchNo int,
balance float NOT NULL,
)
GO
DECLARE @counterInt INT
SET @counterInt = 0


WHILE (@counterInt <  N'$(R)')
BEGIN
	
	

	INSERT dbo.account (branchNo,balance)
	VALUES (RAND()*21,RAND()*10001)
	SET @counterInt = @counterInt + 1
	
	
END
GO
/****** Object:  Table [dbo].[TIL]    Script Date: 09-10-2015 11:42:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIL](
	[TILS] [smallint] NULL
) ON [PRIMARY]

INSERT dbo.TIL (TILS)
values (1) 

GO
USE [master]
GO
